$gh-blue: #58a6ff;
$gh-red: #ff7b72;
$gh-green: #3fb950;
$gh-yellow: #d29922;
$gh-magenta: #bc8cff;
$gh-cyan: #76e3ea;
$gh-desc: #8b949e;
$gh-white: #b1bac4;
$gh-verified: #3fb950;

$gh-extra-black: #0d1117;
$gh-extra-black-bright: #161b22;
$gh-extra-white: #b1bac4;
$gh-extra-white-bright: #b1bac4;
$gh-extra-gray: #6e7681;
$gh-extra-red: #ff7b72;
$gh-extra-red-bright: #ffa198;
$gh-extra-green: #3fb950;
$gh-extra-green-bright: #56d364;
$gh-extra-yellow: #d29922;
$gh-extra-yellow-bright: #e3b341;
$gh-extra-blue: #58a6ff;
$gh-extra-blue-bright: #79c0ff;
$gh-extra-magenta: #bc8cff;
$gh-extra-magenta-bright: #d2a8ff;
$gh-extra-cyan: #76e3ea;
$gh-extra-cyan-bright: #b3f0ff;

$gh-blue-5: #1f6feb;
$gh-select-background: #010409;
$gh-text: #c9d1d9;
$gh-link: #58a6ff;
$gh-verified: #3fb950;
$gh-description: #8b949e;
$gh-background: #0d1117;
$gh-header: #161b22;
$gh-divider: #21262d;
$gh-primary-btn: #238636;
$gh-primary-btn-hover: #2ea043;
$gh-primary-btn-border: rgba(240, 246, 252, 10%);
$gh-primary-btn-hover-border: rgba(240, 246, 252, 10%);

:root {
  --ffxiv-textcolor: #eee1c5;
  --ffxiv-textcolor-desc: #878787;
  --ffxiv-textcolor-group: #d8bb7d;
  --ffxiv-textcolor-button: #fff;
  --ffxiv-textcolor-dutyname: #79c7ec;
  --ffxiv-textcolor-partyleader: #d3eee9;
  --ffxiv-textcolor-partylist: #e8fffe;
  --ffxiv-edgecolor-partylist: #085098;
  --ffxiv-edgecolor-dtrbar: #8e6a0c;
  --ffxiv-textglow-character-select: #09f;
  --ffxiv-textglow-dtrbar: #8e6a0c;
}
