@use '../variables/icon-mixin' as icons;

html .icon-button.star-icon .icon-star {
  animation: none !important;
}

.detailed-status__action-bar button.icon-button.star-icon::before,
.detailed-status__action-bar button.icon-button.star-icon::after,
.status__action-bar button.icon-button.star-icon::before,
.status__action-bar button.icon-button.star-icon::after {
  display: none !important;
}

// Body level
.layout-single-column,
.layout-multiple-columns {
  .column-link .icon-star {
    @include icons.icon-swap(star, $color: var(--color-light-text));
  }

  .column-link.active .icon-star {
    @include icons.icon-swap(star, fill, var(--color-light-text));
  }

  .notification-group--favourite .icon-star,
  .notification-favourite .icon-star {
    @include icons.icon-swap(star, fill, var(--color-text-favourite-highlight));
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  .notification__filter-bar .active .icon-star {
    @include icons.icon-swap(star, fill, var(--color-dim));
  }

  button.icon-button:hover .icon-star ~ span {
    color: var(--color-dim);
  }

  button.icon-button.activate .icon-star ~ span,
  button.icon-button.active .icon-star ~ span {
    color: var(--color-yellow);
  }

  button.icon-button.star-icon:hover .icon-button__counter,
  button.icon-button.star-icon:hover .icon-button__counter span {
    color: var(--color-yellow);
  }

  .notification__filter-bar .icon-star,
  .detailed-status__action-bar .icon-button .icon-star,
  .status__action-bar .icon-button .icon-star {
    --size-icon: 20px;
    @include icons.icon-swap(star, $color: var(--color-dim));
  }

  .notification__filter-bar button.icon-button.active .icon-star,
  .detailed-status__action-bar button.icon-button.active .icon-star,
  .status__action-bar button.icon-button.active .icon-star {
    @include icons.icon-swap(star, $color: var(--color-dim));
    display: block;
  }

  // Override the heart's active:not(.activated) state with star icon
  .detailed-status__action-bar .active:not(.activated) .icon-star,
  .status__action-bar .active:not(.activated) .icon-star {
    background-image: none !important;
    background-color: var(--color-text-favourite-highlight) !important;
    -webkit-mask-image: var(--icon-star-fill) !important;
    mask-image: var(--icon-star-fill) !important;
  }

  .detailed-status__action-bar button.icon-button.star-icon.activate::after,
  .status__action-bar button.icon-button.activate.star-icon::after {
    background-color: unset !important;
    content: '';
    height: 50px !important;
    left: 50% !important;
    margin-left: -26px;
    margin-top: -20px;
    opacity: unset;
    position: absolute;
    top: calc(50% + 1px);
    transform: none;
    width: 50px !important;
    z-index: unset;
  }

  .detailed-status__action-bar button.icon-button.activate.star-icon::before,
  .status__action-bar button.icon-button.activate.star-icon::before {
    border: 0px solid var(--color-yellow);
    border-radius: 10em;
    content: '';
    height: 0em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50px 50px;
    width: 0em;
  }

  .icon-button.star-icon.active,
  .notification-group--favourite .star-icon,
  .notification-favourite .star-icon {
    color: var(--color-yellow);
  }

  .status .star-icon {
    top: -2px;
  }

  .detailed-status__action-bar
    button.icon-button.star-icon.deactivate:hover
    .icon-star,
  .status__action-bar button.icon-button.deactivate.star-icon:hover .icon-star,
  .detailed-status__action-bar .icon-button.deactivate .icon-star,
  .detailed-status button.icon-button.deactivate .icon-star,
  .status button.icon-button.deactivate .icon-star {
    color: var(--color-dim);
  }

  .detailed-status__action-bar
    button.icon-button.star-icon.activate:hover
    .icon-star,
  .status__action-bar button.icon-button.activate.star-icon:hover .icon-star,
  .detailed-status__action-bar .icon-button:hover .icon-star,
  .detailed-status button.icon-button:hover .icon-star,
  .status button.icon-button:hover .icon-star {
    background-image: none !important;
    background-color: var(--color-text-favourite-highlight) !important;
    -webkit-mask-image: var(--icon-star-fill) !important;
    mask-image: var(--icon-star-fill) !important;
    color: var(--color-yellow);
    position: relative;
    top: 0;
  }

  .detailed-status__action-bar .icon-button:focus .icon-star,
  .detailed-status button.icon-button:focus .icon-star,
  .status button.icon-button:hover .icon-star {
    color: var(--color-dim);
  }

  button:focus,
  .icon-button:focus {
    outline: 0;
  }

  button:focus-visible,
  .icon-button:focus-visible {
    outline: 2px solid var(--color-accent);
  }

  .search__popout__menu__item {
    align-items: initial;
  }

  .detailed-status__action-bar
    button.icon-button.star-icon.icon-button--with-counter.star-icon.activate::after,
  .status__action-bar
    button.icon-button.icon-button--with-counter.star-icon.activate.star-icon::after {
    left: calc(50% - 8px) !important;
    top: calc(50% + -1px) !important;
  }

  .detailed-status__action-bar
    button.icon-button.icon-button--with-counter.activate.star-icon::before,
  .status__action-bar
    button.icon-button.icon-button--with-counter.activate.star-icon::before {
    left: calc(50% - 8px) !important;
  }

  button.icon-button.icon-button--with-counter.activate.star-icon > .icon-star {
    left: -2px !important;
    position: absolute !important;
    top: unset !important;
  }

  @media (hover: hover) {
    button.icon-button:not(.active):hover .icon-star ~ span,
    button.icon-button:not(.active):hover .icon-star {
      color: var(--color-yellow);
    }

    button.icon-button.active:hover .icon-star ~ span {
      color: var(--color-dim);
    }
  }

  @media (width <= 888px) {
    .status__action-bar
      button.icon-button.icon-button--with-counter.star-icon.activate.star-icon::after {
      left: calc(50% - 11px) !important;
    }

    .detailed-status__action-bar
      button.icon-button.icon-button--with-counter.activate.star-icon::before,
    .status__action-bar
      button.icon-button.icon-button--with-counter.activate.star-icon::before {
      left: calc(50% - 11px) !important;
    }
  }
}
