.status__wrapper.collapsed {
  .status {
    background-position: center;
    background-size: cover;
    user-select: none;
    min-height: 0;
  }

  .display-name:hover .display-name__html {
    text-decoration: none;
  }

  .status__content__wrapper {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0;
    mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);

    a:hover {
      text-decoration: none;
    }
  }

  .notification__message {
    margin-bottom: 0;
    white-space: nowrap;
  }
}

.status__collapse-button {
  --default-icon-color: var(--color-text-brand);
  --hover-icon-color: var(--color-text-brand-soft);

  &.active {
    --hover-icon-color: var(--color-text-brand-soft);
  }
}
